<div class="form-group" style="margin-left:50px; margin-top:50px; margin-right:500px; margin-bottom:200px">
  <div>
		<h1>Please let us know of any issues or comments about this survey</h1>
		<h1 id="time"></h1>
  	</div>
  	<form>
  		<label for="comments">Were there any technical issues? If so what?</label>
	  	<textarea class="form-control" rows="5" id="comments-technical"></textarea>

		  <br><br>

      <label for="comments">Is there anything we can do to make this easier to use? If so what?</label>
	  	<textarea class="form-control" rows="5" id="comments-easier"></textarea>

      <br><br>

      <label for="comments">Please leave any other comments you have</label>
	  	<textarea class="form-control" rows="5" id="comments-general"></textarea>


	  </form>
    <br><br>
	<button onclick="complete();" type="button" class="btn btn-success">Submit</button>
</div>
