<div id="container-exp">
  	<div style="margin-left:25px; margin-top:50px; margin-right:0px; margin-bottom:200px; float: left">
      <form class='form-group'>
        <label for='quest-form'>Please type in your favorite question:</label>
    		<input type="text" name="question" class='form-control' id='quest-form'>
  		<br><br>
      </form>

      <div style='clear:left'>
        	<button onclick="freeform_resp_submitted();" type="button" class="btn btn-success" style='clear:left'>Submit</button>
      </div>

    </div>
    <div id="prev-questions" style="margin-left:25px; margin-top:50px; margin-right:0px; margin-bottom:200px; float: left">
    </div>

</div>
