<h3 style="position:relative; top:20px; right:-100px;" id="trialnum"></h3>

<script>
  $(document).ready(function(){
    $("#trialnum").html("Trial number: " + (trial_num+1).toString() + "/10");
  });
</script>


<div>
  	<div style="margin-left:100px; margin-top:50px; margin-right:0px; margin-bottom:200px; float: left">
      <form class='form-group' id='freeform-form'>
        <label for='quest-form'>If you could ask any <strong>new</strong> question at this point, what would it be? (NOTE: This question will not be answered):</label>
        <input type="text" name="question" class='form-control' id='quest-form' onkeydown = "check_correct_color_freeform();" onkeyup = "check_correct_color_freeform();">
        <br><br>
      </form>
      <script>
        $('#freeform-form').submit(function(event) {
            event.preventDefault();
            freeform_resp_submitted();
          })
      </script>

      <div style='clear:left'>
        	<button onclick="freeform_resp_submitted();" id="freeform-submit" type="button" class="btn btn-continue" style='clear:left'>Submit</button>
      </div>

    </div>
      <div id="prev-questions" style="margin-left:25px; margin-top:50px; margin-right:-1000px; margin-bottom:200px; float: left">
    </div>
</div>
