<div>
	<div id="question-chooser">
		<style>
			.glyphicon.spinning {
		    animation: spin 1s infinite linear;
		    -webkit-animation: spin2 1s infinite linear;
			}

			@keyframes spin {
		    from { transform: scale(1) rotate(0deg);}
		    to { transform: scale(1) rotate(360deg);}
			}

			@-webkit-keyframes spin2 {
		    from { -webkit-transform: rotate(0deg);}
		    to { -webkit-transform: rotate(360deg);}
			}
		</style>
		<div class="form-group" style="margin-left:25px; margin-top:50px; margin-right:0px; margin-bottom:200px; width: 500px; float: left">
			<h3 id="game-on"></h3>
			<h3 id="bonus"></h3>
			<h4 id="question-number" style="margin-bottom:15px"></h4>

		  	<div id="questions">
		  		<form style="margin-bottom:-35px" id="question-form">
			  		<label for="answers" id="question-label">
			  			<h4 style="margin-top:5px; float:left">Please select the best question:</h4>

			  			<a href="#" id="help-popover" class="btn"
			  				rel="popover" data-placement="right" data-original-title="Help">
			  					<span class="glyphicon glyphicon-info-sign" style="float:left"></span>
			  			</a>

			  			<script>
							$(document).ready(function(){

							   $("#help-popover").popover({
									trigger: "hover",
									html: true,
									content: function() {
										return $("#help").html();
									}
							   });
							});
						</script>

			  		</label>
					<ul class="answers" id="answers">

			      	</ul>
					<br><br>
				</form>
				<div id="answer" style="opacity:0"></div>
				<button onclick="choicecomplete_20q();" type="button" class="btn btn-success" id="submit-button" style="margin-top:15px">Submit</button>
				<br><br><br>

				<input type="checkbox" name="infogain-checkbox" id="infogain-checkbox" uncheked>
				<label for="infogain-checkbox">  Show Info Gain</label>
				<br><br>
				<script>
					$('#infogain-checkbox').change(function() {
				        if($(this).is(":checked")) {
				            show_info_gain();
				        }
				        else {
				        	hide_info_gain();
				        }
				    });
				</script>

		  	</div>
			<!--
			<form id="guess-form">
				Guess: <input type="text" name="guess" id="guess-box"
					onkeydown = "check_correct_color();" onkeyup = "check_correct_color();">
				<input type="submit" class="btn btn-continue" id="submit-button-guess" title="Next">

				<br><br>
				Keep in mind, you only get 1 guess! Try to use it wisely!
			</form>
			<script>
					$('#guess-form').submit(function(event) {
					  event.preventDefault();
					  if($("#guess-box").val() != '') guess_submitted();
				  });
			</script>
			-->
			<button id='end-button' type='submit' onclick='end_pressed()' class='btn btn-success' style='margin-top:20px'>
				End Game
			</button>



			<div id="help" style='opacity: 0'>
				<p>First line of help text goes here</p>
				<br>
				<p>Second line of help text goes here</p>
			</div>
		</div>
		<div id="prev-questions" style="margin-left:0px; margin-top:150px; margin-right:-1000px; margin-bottom:200px; float: left; ">

		</div>
	</div>
</div>
<div class="skipbutton">
	<div class="row">
			<div class="col-xs-2">
			</div>
			<div class="col-xs-8">
			</div>
			<div class="col-xs-2">
					<button type="button" class="btn btn-primary btn-lg continue" onclick="next_section(3)">Magic <span class="glyphicon glyphicon-arrow-right"></span>
					</button>
			</div>
	</div>
</div>
<script>
	if(no_skip_buttons) {
		$('.skipbutton').html('');

	}
</script>
