<div class="form-group" style="margin-left:50px; margin-top:50px; margin-right:500px; margin-bottom:200px">
    <div>
		<h1>Please answer the followingn questions</h1>
		<h1 id="time"></h1>
  	</div>
    <style>
      input[type=checkbox], input[type=radio] {
        margin-left: 20px;

      }
    </style>

    <form action="">
      <h3>Does this remind you of a game you know?</h3>
      <input type="radio" name="prev-played" value="Yes" id="Yes">
      <label style="margin:0.5em" for="Yes">Yes</label>

      <br>
      <input type="radio" name="prev-played" value="No" id="No">
      <label style="margin:0.5em" for="No">No</label>

    </form>



	<button onclick="show_generalcomments();" type="button" class="btn btn-success" style='margin-top:20px;'>Submit</button>
</div>
