<div class="form-group" style="margin-left:50px; margin-top:50px; margin-right:500px; margin-bottom:200px">
  	<div>
		<h1>Please let us know of any issues or comments about this survey</h1>
		<h1 id="time"></h1>
  	</div>
  	<form>
  		<label for="comments">Were there any technical issues? 
  								Is there anything we can do to make this easier to use?
  								Do you have any other comments?
  		</label>
	  	<textarea class="form-control" rows="5" id="comments"></textarea>

		<br><br>
	</form>
	<button onclick="complete();" type="button" class="btn btn-success">Submit</button>
</div>