<div class="form-group" style="margin-left:50px; margin-top:50px; margin-right:500px; margin-bottom:200px">
    <div>
		<h1>Please answer the followingn questions</h1>
		<h1 id="time"></h1>
  	</div>
    <style>
      input[type=checkbox], input[type=radio] {
        margin-left: 20px;

      }
    </style>

    <form action="" id="prev-played-form">
      <h3>Does this remind you of a game you know? If so, what?</h3>
      <input type="text" name="prev-played" id="prev-played">

      <script>
					$('#prev-played-form').submit(function(event) {
					  event.preventDefault();
					  show_questionnaire2();
				  });
			</script>

    </form>



	<button onclick="show_questionnaire2();" type="button" class="btn btn-success" style='margin-top:20px;'>Submit</button>
</div>
