<div class="form-group" style="margin-left:50px; margin-top:50px; margin-right:500px; margin-bottom:200px">
  	<form>
  	<label for="answers" id="question-label"><h2>Is it mechanical?</h2></label>
		<ul class="answers">
      		<div class="radio-question">
            <input type="radio" name="q1" value="y" id="q1y">
            <label style="margin:0.5em" for="q1y">More yes</label>
          </div>

      		<div class="radio-question">
            <input type="radio" name="q1" value="n" id="q1n">
            <label style="margin:0.5em" for="q1n">More no</label>
          </div>

      		<div class="radio-question">
            <input type="radio" name="q1" value="u" id="q1u">
            <label style="margin:0.5em" for="q1u">In the middle</label>
          </div>
      	</ul>

		<br><br>
	</form>
	<button onclick="quizcomplete();" type="button" class="btn btn-success">Submit</button>
</div>
