<div>
	<div style="margin-left:100px; margin-top:40px; width: 800px">
	<h3>Great job! Now that you are in the mode of playing 20 questions, you will answer a specific task.
		For each of the following questions, reveal the answer and try to act as if you are playing a real game.</h3>
	<div id="questions">
	</div>
		<div class="col-xs-2" id="next-button" style="opacity: 0; margin-bottom: 15px">
                <button type="button" onclick="do_quiz();" id="next" value="next" class="btn btn-primary btn-lg continue" disabled>
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
        </div>

	</div>
</div>
