<h3 style="position:relative; top:20px; right:-50px; margin-bottom:30px" id="totalbonus"></h3>

<script>
  $(document).ready(function(){
    $("#totalbonus").html("Total bonus: " + (total_bonus).toFixed(2)());
  });
</script>

<h3 style="position:relative; top:20px; right:-100px;" id="trialnum"></h3>

<script>
  $(document).ready(function(){
    $("#trialnum").html("Trial number: " + (trial_num+1).toString() + "/10");
  });
</script>

<div>
	<div style="margin-left:100px; margin-top:40px; width: 800px">
	<h4>Imagine you are playing a complete game. For each of the following questions,
		click to reveal the answer and think about what the hidden object might be.
	</h4>
	<div id="questions">
	</div>
		<div class="col-xs-2" id="next-button" style="opacity: 0; margin-bottom: 15px">
                <button type="button" onclick="setTimeout(do_quiz, 200);" id="next" value="next" class="btn btn-primary btn-lg continue" disabled>
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
        </div>

	</div>
</div>
<div class="skipbutton">
	<div class="row">
			<div class="col-xs-2">
			</div>
			<div class="col-xs-8">
			</div>
			<div class="col-xs-2">
					<button type="button" class="btn btn-primary btn-lg continue" onclick="next_section(5)">Magic <span class="glyphicon glyphicon-arrow-right"></span>
					</button>
			</div>
	</div>
</div>
<script>
	if(no_skip_buttons) {
		$('.skipbutton').html('');

	}
</script>
