<div>
	<div id="question-chooser">
		<div class="form-group" style="margin-left:25px; margin-top:50px; margin-right:0px; margin-bottom:200px; float: left" id="question-form">
			<h4 id="question-number" style="margin-bottom:15px"></h4>

		  	<div id="questions">

					<form style="margin-bottom:-35px" id="question-form">
			  		<label for="answers" id="question-label">
			  			<h2 style="margin-top:5px; float:left">Pick your favorite question</h2>
			  		</label>

						<ul class="answers" id="answers">
			      		<div class="radio-question">
			      			<input type="radio" name="q1" value="a" id="q0">
			      			<label style="margin:0.5em" for="q0"></label>
			      		</div>

			      		<div class="radio-question">
			      			<input type="radio" name="q1" value="b" id="q1">
			      			<label style="margin:0.5em" for="q1"></label>
			      		</div>

				    </ul>

						<br><br>

					</form>

				<div id="answer" style="opacity:0; margin-left: 35px"></div>
				<button onclick="choicecomplete();" type="button" class="btn btn-success" id="submit-button" style="margin-top:15px">Submit</button>

		  </div>
		</div>

		<style>
			th, td { padding: 5px; }
		</style>

		<div id="shapes" style="margin-left:100px; margin-top:50px; margin-right:25px; margin-bottom:200px; float: left">
			<table>
				<tr>
					<td> <div id="shape1"></div> </td>
					<td> <div id="shape2"></div> </td>
					<td> <div id="shape3"></div> </td>
					<td> <div id="shape4"></div> </td>
				</tr>

				<tr>
					<td> <div id="shape5"></div> </td>
					<td> <div id="shape6"></div> </td>
					<td> <div id="shape7"></div> </td>
					<td> <div id="shape8"></div> </td>
				</tr>

				<tr>
					<td> <div id="shape9"></div> </td>
					<td> <div id="shape10"></div> </td>
					<td> <div id="shape11"></div> </td>
					<td> <div id="shape12"></div> </td>
				</tr>

				<tr>
					<td> <div id="shape13"></div> </td>
					<td> <div id="shape14"></div> </td>
					<td> <div id="shape15"></div> </td>
					<td> <div id="shape16"></div> </td>
				</tr>
			</table>
		</div>

	</div>
</div>
