<div>
  <h2>Pick your favorite shape</h2>
  <div id="shapes" style="margin-left:100px; margin-top:50px; margin-right:25px; margin-bottom:200px; float: left">
    <table>
      <tr>
        <td id = "table-elem-0"> <div id="shape1"></div> </td>
        <td id = "table-elem-1"> <div id="shape2"></div> </td>
        <td id = "table-elem-2"> <div id="shape3"></div> </td>
        <td id = "table-elem-3"> <div id="shape4"></div> </td>
      </tr>

      <tr>
        <td id = "table-elem-4"> <div id="shape5"></div> </td>
        <td id = "table-elem-5"> <div id="shape6"></div> </td>
        <td id = "table-elem-6"> <div id="shape7"></div> </td>
        <td id = "table-elem-7"> <div id="shape8"></div> </td>
      </tr>

      <tr>
        <td id = "table-elem-8"> <div id="shape9"></div> </td>
        <td id = "table-elem-9"> <div id="shape10"></div> </td>
        <td id = "table-elem-10"> <div id="shape11"></div> </td>
        <td id = "table-elem-11"> <div id="shape12"></div> </td>
      </tr>

      <tr>
        <td id = "table-elem-12"> <div id="shape13"></div> </td>
        <td id = "table-elem-13"> <div id="shape14"></div> </td>
        <td id = "table-elem-14"> <div id="shape15"></div> </td>
        <td id = "table-elem-15"> <div id="shape16"></div> </td>
      </tr>

    </table>
  </div>

</div>
