<div style="margin-left:50px">
  <h2>Pick your favorite shape</h2>
  <div id="shapes" style="margin-left:100px; margin-top:50px; margin-right:25px; margin-bottom:200px; float: left">
    <style>
      th, td { padding: 5px; }
    </style>
    <table>
      <tr>
        <td> <div id="shape1"></div> </td>
        <td> <div id="shape2"></div> </td>
        <td> <div id="shape3"></div> </td>
        <td> <div id="shape4"></div> </td>
      </tr>

      <tr>
        <td> <div id="shape5"></div> </td>
        <td> <div id="shape6"></div> </td>
        <td> <div id="shape7"></div> </td>
        <td> <div id="shape8"></div> </td>
      </tr>

      <tr>
        <td> <div id="shape9"></div> </td>
        <td> <div id="shape10"></div> </td>
        <td> <div id="shape11"></div> </td>
        <td> <div id="shape12"></div> </td>
      </tr>

      <tr>
        <td> <div id="shape13"></div> </td>
        <td> <div id="shape14"></div> </td>
        <td> <div id="shape15"></div> </td>
        <td> <div id="shape16"></div> </td>
      </tr>
    </table>
  </div>

</div>
