<h3 style="position:relative; top:20px; right:-50px; margin-bottom:30px" id="totalbonus"></h3>

<script>
  $(document).ready(function(){
    $("#totalbonus").html("Total bonus: " + (total_bonus).toFixed(2));
  });
</script>

<h3 style="position:relative; top:20px; right:-100px;" id="trialnum"></h3>

<script>
  $(document).ready(function(){
    $("#trialnum").html("Trial number: " + (trial_num+1).toString() + "/10");
  });
</script>

<div>
  <div id='sortable-lists' style='margin-left: 100px; margin-top: 50px'>
    <style>
      #options, #ranked {
        border: 3px solid #eee;
        width: 500px;
        min-height: 75px;
        list-style-type: none;
        margin: 0;
        padding: 5px 5px 5px 5px;
        float: left;
      }
      #options li, #ranked li {
        margin: 5px 5px 5px 5px;
        padding: 5px;
        font-size: 1.2em;
        width: 98%;
        background-color: 66FFCC;

      }

      li p {
        color: black;
        vertical-align: middle;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      li:hover {
        cursor: move;
      }

      li:active {
        cursor: move;
      }

    </style>
    <script>
        $(function() {
          $( "#options, #ranked" ).sortable({
            connectWith: ".connectedSortable"
          }).disableSelection();
        });
    </script>

    <div id='questions' style='float:left; width: 600px'>
      <h3>Please rank the given questions by dragging them into the other box in the correct order. You should put your favorite questions on top, and your least favorite on the bottom.</h3>
      
      <div id='ranked-list' style='clear: left'>
        <h3>Ranked questions (from best [top] to worst [bottom])</h3>
        <ul id="ranked" class="connectedSortable">
        </ul>
      </div>

      <div id='question-list' style='float: left; margin-right: 30px; margin-bottom:60px'>
        <h3>Given Questions</h3>
        <ul id="options" class="connectedSortable">
          <li class="ui-state-default" align='center' id='q0' style='font-size: 16px'><p align='center'></p></li>
          <li class="ui-state-default" align='center' id='q1' style='font-size: 16px'><p align='center'></p></li>
          <li class="ui-state-default" align='center' id='q2' style='font-size: 16px'><p align='center'></p></li>
          <li class="ui-state-default" align='center' id='q3' style='font-size: 16px'><p align='center'></p></li>
          <li class="ui-state-default" align='center' id='q4' style='font-size: 16px'><p align='center'></p></li>
          <li class="ui-state-default" align='center' id='q5' style='font-size: 16px'><p align='center'></p></li>
        </ul>
      </div>

      <div style='clear:left;'>
        <div id='answer' style='opacity: 0'>

        </div>
        <button onclick="answer_chosen();" type="button" class="btn btn-success" id="submit-button" style="margin-top:15px">Submit</button>
      </div>

    </div>

    <div id='prev-questions' style='float:left; margin-right: -1000px'>
    </div>

  </div>


</div>
