<div instruct_num = '2' style='margin:50px'>

      <h1>Instructions</h1>

      <hr>

      <div class="instructions well">

          <p>
            When the game ends, you will be asked to guess the identity of the hidden object. Choose your best guess from a set of 20 options where only one choice is correct. The incorrect options are chosen at random from the set of 1000 possible objects. If you guess correctly, you will receive a bonus payment.
            <br>
            You may end the game any time you wish. Each question you ask decreases your potential bonus by $0.X. Thus, you are incentivized to seek information as efficiently as possible and to guess when you are reasonably certain you can pick out the right object from a set of 20 choices.
            <br>
            You can right-click an object to disable it, helping you to visually narrow down your choices. The object list will look like this:
          </p>
          <style>
            th, td { padding: 5px; }
          </style>
          <table id="options-table">
        <tr>
            <td><button class="btn" nonsenseattr=
            "option_clicked_20q(&quot;village&quot;,896)" style=
            "width: 100%; height: 150%;">item 1</button></td>

            <td><button class="btn" nonsenseattr=
            "option_clicked_20q(&quot;mirror&quot;,804)" style=
            "width: 100%; height: 150%;">item 2</button></td>

            <td><button class="btn" nonsenseattr=
            "option_clicked_20q(&quot;vulture&quot;,803)" style=
            "width: 100%; height: 150%;">item 3</button></td>

            <td><button class="btn" nonsenseattr=
            "option_clicked_20q(&quot;cement&quot;,373)" style=
            "width: 100%; height: 150%;">item 4</button></td>
        </tr>

        <tr>
            <td><button class="btn" nonsenseattr=
            "option_clicked_20q(&quot;maple&quot;,303)" style=
            "width: 100%; height: 150%;">item 5</button></td>

            <td><button class="btn" nonsenseattr=
            "option_clicked_20q(&quot;ceiling&quot;,802)" style=
            "width: 100%; height: 150%;">item 6</button></td>

            <td><button class="btn" nonsenseattr=
            "option_clicked_20q(&quot;restaurant&quot;,609)" style=
            "width: 100%; height: 150%;">item 7</button></td>

            <td><button class="btn" nonsenseattr=
            "option_clicked_20q(&quot;vest&quot;,419)" style=
            "width: 100%; height: 150%;">item 8</button></td>
        </tr>

        <tr>
            <td><button class="btn" nonsenseattr=
            "option_clicked_20q(&quot;shop&quot;,789)" style=
            "width: 100%; height: 150%;">item 9</button></td>

            <td><button class="btn" nonsenseattr=
            "option_clicked_20q(&quot;hall&quot;,666)" style=
            "width: 100%; height: 150%;">item 10</button></td>

            <td><button class="btn" nonsenseattr=
            "option_clicked_20q(&quot;cigar&quot;,589)" style=
            "width: 100%; height: 150%;">item 11</button></td>

            <td><button class="btn" nonsenseattr=
            "option_clicked_20q(&quot;ink&quot;,949)" style=
            "width: 100%; height: 150%;">item 12</button></td>
        </tr>

        <tr>
            <td><button class="btn" nonsenseattr=
            "option_clicked_20q(&quot;burner&quot;,440)" style=
            "width: 100%; height: 150%;">item 13</button></td>

            <td><button class="btn" nonsenseattr=
            "option_clicked_20q(&quot;stool&quot;,503)" style=
            "width: 100%; height: 150%;">item 14</button></td>

            <td><button class="btn" nonsenseattr=
            "option_clicked_20q(&quot;saxophone&quot;,469)" style=
            "width: 100%; height: 150%;">item 15</button></td>

            <td><button class="btn" nonsenseattr=
            "option_clicked_20q(&quot;supper&quot;,531)" style=
            "width: 100%; height: 150%;">item 16</button></td>
        </tr>

        <tr>
            <td><button class="btn" nonsenseattr=
            "option_clicked_20q(&quot;sand&quot;,313)" style=
            "width: 100%; height: 150%;">item 17</button></td>

            <td><button class="btn" nonsenseattr=
            "option_clicked_20q(&quot;jersey&quot;,564)" style=
            "width: 100%; height: 150%;">item 18</button></td>

            <td><button class="btn" nonsenseattr=
            "option_clicked_20q(&quot;bear&quot;,0)" style=
            "width: 100%; height: 150%;">item 19</button></td>

            <td><button class="btn" nonsenseattr=
            "option_clicked_20q(&quot;peach&quot;,457)" style=
            "width: 100%; height: 150%;">item 20</button></td>
        </tr>
    </table>

          <script type="text/javascript">
            $("button").hover(function(){
                if(!$(this).prop('temp_disable')) $(this).addClass('btn-primary');
              }, function() {
                $(this).removeClass('btn-primary');
              }
            );

            $('button').mousedown(function(event) {
              switch (event.which) {
                  case 1:
                      //alert('Left Mouse button pressed.');
                      break;
                  case 2:
                      //alert('Middle Mouse button pressed.');
                      break;
                  case 3:
                      if($(this).prop('temp_disable')) {
                        $(this).prop("temp_disable", false);
                        $(this).css("opacity", 1)
                        $(this).css("background-color", "")
                        $(this).addClass("btn-primary")
                      }
                      else {
                        $(this).prop("temp_disable", true);
                        $(this).css("opacity", 0.7)
                        $(this).css("background-color", "RosyBrown")
                        $(this).removeClass("btn-primary")
                      }
                      break;
                  default:
                      //alert('You have a strange Mouse!');
              }
            });

            $("button").click(function(evt) {
              if (evt.shiftKey || evt.altKey || evt.metaKey) {
                if($(this).prop('temp_disable')) {
                  $(this).prop("temp_disable", false);
                  $(this).css("opacity", 1)
                  $(this).css("background-color", "")
                  $(this).addClass("btn-primary")
                }
                else {
                  $(this).prop("temp_disable", true);
                  $(this).css("opacity", 0.7)
                  $(this).css("background-color", "RosyBrown")
                  $(this).removeClass("btn-primary")
                }
              }
              else {
                if(!$(this).prop('temp_disable')) eval($(this).attr('func_to_do'))
              }
            });

            document.onkeydown = keyboardDown;
            document.onkeyup = keyboardUp;
            document.oncontextmenu = function(e){
             var evt = new Object({keyCode:93});
             stopEvent(e);
             keyboardUp(evt);
            }
            function stopEvent(event){
             if(event.preventDefault != undefined)
              event.preventDefault();
             if(event.stopPropagation != undefined)
              event.stopPropagation();
            }
            function keyboardDown(e){

            }
            function keyboardUp(e){

            }

          </script>


      <p>You will now proceed to the task. You will play exactly _ games</p>

      </div>

      <hr>

      <style>
        #next {
            opacity: 0;
            float: right;
        }
      </style>

      <script>
          setTimeout(function() {
              $("#next").fadeTo('slow', 1.0, function(){
  							$("#next").removeAttr('disabled')
  						});
          }, 1000)
      </script>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="previous" onclick="decrement_20q_instructions()" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onclick="progress_20q_instructs()" disabled>
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
<div class="skipbutton">
  <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-8">
      </div>
      <div class="col-xs-2">
          <button type="button" class="btn btn-primary btn-lg continue" onclick="next_section(2)">
          Magic <span class="glyphicon glyphicon-arrow-right"></span>
          </button>
      </div>
  </div>
</div>
<script>
  if(no_skip_buttons) {
    $('.skipbutton').html('');

  }
</script>
