<div id="container-instructions" instruct_num = '3'>

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>

            After you pass the quiz, you will type in your favorite question. It is a text-box, you will be allowed to ask anything you like.
            <br><br>
            After you type in a freeform question, you will be asked to rank 4 questions provided to you from best to worst. After you rank these 4 questions, you will get your top choice answered. This ranking is independent from your freeform response.
            <br><br>
            You will then get to choose your favorite object from a list of 20, as you did in the full game. Make sure you rank the questions well, because if you get the object correct you will recieve a bonus of $x
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <style>
        #next {
            opacity: 0;
            float: right;
        }
    </style>

    <script>
        setTimeout(function() {
            $("#next").fadeTo('slow', 1.0, function(){
							$("#next").removeAttr('disabled')
						});
        }, 1000)
    </script>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="previous" onclick="decrement_oneshot_instructs()" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onclick="show_questions();" disabled>
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
<div class="skipbutton">
	<div class="row">
			<div class="col-xs-2">
			</div>
			<div class="col-xs-8">
			</div>
			<div class="col-xs-2">
					<button type="button" class="btn btn-primary btn-lg continue" onclick="next_section(4)">Magic <span class="glyphicon glyphicon-arrow-right"></span>
					</button>
			</div>
	</div>
</div>
<script>
	if(no_skip_buttons) {
		$('.skipbutton').html('');

	}
</script>
