<div id="container-instructions" instruct_num = "1">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

	    <p>
		    In this task you will be asked to play 20 questions. The first few
				questions have been decided for you, and you will be presented with both
				the questions and the answers. The answers are on a scale from
				Definitely Not to Definitely Yes, meaning that if it is all the way to
				one end it is certain, if it is in the middle it is either unapplicable
				or uncertain, and if it is leaning towards one end it means that the
				answer is leaning toward that answer, but is not completely certain.
				This could mean the answer is something like "Probably" or "Sometimes".
	    </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>

    <style>
        #next {
            opacity: 0;

        }
    </style>
    <script>
        setTimeout(function() {
            $("#next").fadeTo('slow', 1.0, function(){
							$("#next").removeAttr('disabled')
						});
        }, 1000)
    </script>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onclick="progress_oneshot_instructs()" disabled>
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
