<div id="container-instructions" instruct_num = '2'>

      <h1>Instructions</h1>

      <hr>

      <div class="instructions well">
        <h3>Please check the categories you think the itemset has, and leave
        the rest blank</h3>

        <form id='checkbox-form'>
          <div class="checkbox">
            <label><input type="checkbox" value="Animals">Animals</label>
          </div>

          <div class="checkbox">
            <label><input type="checkbox" value="Places">Places</label>
          </div>

          <div class="checkbox">
            <label><input type="checkbox" value="People">Specific people</label>
          </div>

          <div class="checkbox">
            <label><input type="checkbox" value="Household objects">Household objects</label>
          </div>

          <div class="checkbox">
            <label><input type="checkbox" value="Plants">Plants</label>
          </div>

          <div class="checkbox">
            <label><input type="checkbox" value="Verbs">Verbs</label>
          </div>

          <div class="checkbox">
            <label><input type="checkbox" value="Tangible things">Tangible things</label>
          </div>

          <div class="checkbox">
            <label><input type="checkbox" value="Adjectives">Adjectives</label>
          </div>

        </form>

      </div>

      <hr>

      <style>
        #submit {
            opacity: 0;
            float: right;
        }
      </style>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button onclick="objectquiz_submitted();" type="button" class="btn btn-success btn-lg" id="submit-button" style="margin-top:15px">Submit</button>
            </div>
        </div>
    </div>

</div>
<div class="skipbutton">
  <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-8">
      </div>
      <div class="col-xs-2">
          <button type="button" class="btn btn-primary btn-lg continue" onclick="next_section(2)">
          Next <span class="glyphicon glyphicon-arrow-right"></span>
          </button>
      </div>
  </div>
</div>
<script>
  if(no_skip_buttons) {
    $('.skipbutton').html('');

  }
</script>
