<div id="container-instructions" instruct_num = '3'>

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
            You will be quizzed after you recieve the initial information,
            so make sure that you pay attention. If you complete the quiz
            incorrectly, you will have to redo the beginning part. Don't rush
            it!
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <style>
        #next {
            opacity: 0;
            float: right;
        }
    </style>

    <script>
        setTimeout(function() {
            $("#next").fadeTo('slow', 1.0, function(){
							$("#next").removeAttr('disabled')
						});
        }, 1000)
    </script>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onclick="show_questions();" disabled>
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
<div class="skipbutton">
	<div class="row">
			<div class="col-xs-2">
			</div>
			<div class="col-xs-8">
			</div>
			<div class="col-xs-2">
					<button type="button" class="btn btn-primary btn-lg continue" onclick="next_section(4)">Magic <span class="glyphicon glyphicon-arrow-right"></span>
					</button>
			</div>
	</div>
</div>
<script>
	if(no_skip_buttons) {
		$('.skipbutton').html('');

	}
</script>
