<div id="container-instructions">

      <h1>Instructions</h1>

      <hr>

      <div class="instructions well">

          <p>These are all the shapes:</p>

          <style>
      			th, td { padding: 5px; }
      		</style>

          <div id="shape-table" align='center'>
            <table>
      				<tr>
      					<td> <div id="shape1"></div> </td>
      					<td> <div id="shape2"></div> </td>
      					<td> <div id="shape3"></div> </td>
      					<td> <div id="shape4"></div> </td>
      				</tr>

      				<tr>
      					<td> <div id="shape5"></div> </td>
      					<td> <div id="shape6"></div> </td>
      					<td> <div id="shape7"></div> </td>
      					<td> <div id="shape8"></div> </td>
      				</tr>

      				<tr>
      					<td> <div id="shape9"></div> </td>
      					<td> <div id="shape10"></div> </td>
      					<td> <div id="shape11"></div> </td>
      					<td> <div id="shape12"></div> </td>
      				</tr>

      				<tr>
      					<td> <div id="shape13"></div> </td>
      					<td> <div id="shape14"></div> </td>
      					<td> <div id="shape15"></div> </td>
      					<td> <div id="shape16"></div> </td>
      				</tr>
      			</table>
          </div>


          <script type="text/javascript">
            $(document).ready(function() {
              shape_imgs = load_img_names_noshuffle();
              load_shape_imgs();
              $('img').each(function() {
                $(this).attr('width', 115);
              });
            });
          </script>

      </div>

      <hr>

      <style>
        #next {
            opacity: 0;
        }
      </style>
      <script>
          setTimeout(function() {
              $("#next").fadeTo('slow', 1.0, function(){
  							$("#next").removeAttr('disabled')
  						});
          }, 1000)
      </script>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="previous" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled>
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
