<div id="container-instructions" instruct_num = '3'>

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
            After you pass the quiz on the initial questions and answers, you will be asked to type your ideal next question in a text box. You may ask anything you like.
            <br><br>
            After that, you will be asked to rank 6 possible next questions according to your preference from best to worst. Your top choice will be answered after you submit your ranking.
            <br><br>
            After selecting your preferences, you will be asked to guess the identity of the hidden object from a list of 20 arbitrary objects. If you rank the questions well, you will have a better chance of guessing the hidden object correctly. Correct responses are rewarded with a bonus of $0.20.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <style>
        #next {
            opacity: 0;
            float: right;
        }
    </style>

    <script>
        setTimeout(function() {
            $("#next").fadeTo('slow', 1.0, function(){
							$("#next").removeAttr('disabled')
						});
        }, 1000)
    </script>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="previous" onclick="decrement_oneshot_instructs()" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onclick="show_questions();" disabled>
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
<div class="skipbutton">
	<div class="row">
			<div class="col-xs-2">
			</div>
			<div class="col-xs-8">
			</div>
			<div class="col-xs-2">
					<button type="button" class="btn btn-primary btn-lg continue" onclick="next_section(4)">Magic <span class="glyphicon glyphicon-arrow-right"></span>
					</button>
			</div>
	</div>
</div>
<script>
	if(no_skip_buttons) {
		$('.skipbutton').html('');

	}
</script>
