<div id="container-instructions">

      <h1 style='margin-top: -30px'>Instructions</h1>

      <hr>

      <div class="instructions well">
        <p>
          Let's start with a simple example game. In this game, there are 16 possible objects. One of these objects has been selected, and your goal is to figure out which one it is by asking a series of 4 questions.
        </p>
        <p>
          Each object has 4 attributes with one of two possible values:
        </p>
        <ul>
          <li>Shape (triangle or rectangle)</li>
          <li>Fill color (yellow or grey)</li>
          <li>Border color (black or red)</li>
          <li>Dot in the center (present or absent)</li>
        </ul>          

          <p>All of the objects are shown below:</p>

          <style>
      			th, td { padding: 5px; }
      		</style>

          <div id="shape-table" align='center'>
            <table>
      				<tr>
      					<td> <div id="shape1"></div> </td>
      					<td> <div id="shape2"></div> </td>
      					<td> <div id="shape3"></div> </td>
      					<td> <div id="shape4"></div> </td>
      				</tr>

      				<tr>
      					<td> <div id="shape5"></div> </td>
      					<td> <div id="shape6"></div> </td>
      					<td> <div id="shape7"></div> </td>
      					<td> <div id="shape8"></div> </td>
      				</tr>

      				<tr>
      					<td> <div id="shape9"></div> </td>
      					<td> <div id="shape10"></div> </td>
      					<td> <div id="shape11"></div> </td>
      					<td> <div id="shape12"></div> </td>
      				</tr>

      				<tr>
      					<td> <div id="shape13"></div> </td>
      					<td> <div id="shape14"></div> </td>
      					<td> <div id="shape15"></div> </td>
      					<td> <div id="shape16"></div> </td>
      				</tr>
      			</table>
          </div>


          <script type="text/javascript">
            $(document).ready(function() {
              shape_imgs = load_img_names_noshuffle();
              load_shape_imgs();
              $('img').each(function() {
                $(this).attr('width', 90);
              });
            });
          </script>

      </div>

      <hr>

      <style>
        #next {
            opacity: 0;
            float: right;
        }
      </style>

      <script>
          setTimeout(function() {
              $("#next").fadeTo('slow', 1.0, function(){
  							$("#next").removeAttr('disabled')
  						});
          }, 1000)
      </script>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="previous" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled>
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="skipbutton">
      <div class="row">
          <div class="col-xs-2">
          </div>
          <div class="col-xs-8">
          </div>
          <div class="col-xs-2">
              <button type="button" class="btn btn-primary btn-lg continue" onclick="next_section(0)"> Magic <span class="glyphicon glyphicon-arrow-right"></span>
              </button>
          </div>
      </div>
    </div>
    <script>
      if(no_skip_buttons) {
        $('.skipbutton').html('');

      }
    </script>

</div>
