
<div id="container-instructions">
      <h1>Instructions</h1>

      <hr>

      <div class="instructions well">

				<p>
					The first thing you are going to do in this hit is figure out which shape
					the computer is thinking of based off of questions that you ask.
					There are 16 possible shapes, and each one has 4 attributes.
					The attributes are:
				</p>
				<ul>
					<li>Shape</li>
					<li>Fill color</li>
					<li>Border color</li>
					<li>Dot in the center</li>
				</ul>

				<p>
					Each attribute can be one of two things, and every possible shape is
					there. That means there are 16 possible shapes overall.
				</p>

      </div>

      <hr>

      <style>
        #next {
            opacity: 0;
            float: right;
        }
      </style>

      <script>
          setTimeout(function() {
              $("#next").fadeTo('slow', 1.0, function(){
  							$("#next").removeAttr('disabled')
  						});
          }, 1000)
      </script>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="previous" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled>
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
