<div instruct_num = '2' style='margin:50px'>

      <h1>Instructions</h1>

      <hr>

      <div class="instructions well">

          <p>
            When you select a question, answers are given on a 5 point scale from
            "Definitely Not" to "Definitely Yes." We use this scale because sometimes questions are ambiguous or unclear regarding whether they apply to a certain object. All of the knowledge in our database is the result of human ratings, so it's possible that someone made a mistake or has a different opinion than you.

            <br><br>
            Here are a few examples relating to the object <b>EARPHONES</b>
            <br><br>
            <h4>Question: IS IT WHITE?</h4>

            <br>
            <div style="margin-left:-109px"><img src="/static/images/slider_u.png"  alt="Unknown/Not applicable" width=650></div>
            Earphones can be white (but don't have to be), so this person responded in the middle of the scale.
            <hr>

            <h4>Question: IS IT CLOTHING?</h4>
            <br>
            <div style="margin-left:-109px"><img src="/static/images/slider_pn.png"  alt="Unknown/Not applicable" width=650></div>
            It is somewhat ambiguous whether or not earphones are clothing.
            <hr>

            <h4>Question: IS IT ALIVE?</h4>

            <br>
            <div style="margin-left:-109px"><img src="/static/images/slider_n.png"  alt="Unknown/Not applicable" width=650></div>
            Earphones are definitely not alive, so the person answered "definitely not."
            <hr>

            As you can see, uncertain responses can be interpreted in a variety of ways. 
            Maybe it's because the answer can be "yes" but doesn't have to be. It's also possible that the question is ambiguous or inapplicable.

            <br><br>
            It's now time to proceed to the task. You will play 3 full games in the first part of the HIT, and then 15 partial games in the second part. Good luck!
          </p>

          <script type="text/javascript">
          //console.log(psiTurk.getInstructionIndicator())
          </script>

      </div>

      <hr>

      <style>
        #next {
            opacity: 0;
            float: right;
        }
      </style>

      <script>
          setTimeout(function() {
              $("#next").fadeTo('slow', 1.0, function(){
  							$("#next").removeAttr('disabled')
  						});
          }, 1000)
      </script>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="previous" onclick="decrement_20q_instructions()" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onclick="progress_20q_instructs()" disabled>
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
<div class="skipbutton">
  <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-8">
      </div>
      <div class="col-xs-2">
          <button type="button" class="btn btn-primary btn-lg continue" onclick="next_section(2)">
          Magic <span class="glyphicon glyphicon-arrow-right"></span>
          </button>
      </div>
  </div>
</div>
<script>
  if(no_skip_buttons) {
    $('.skipbutton').html('');

  }
</script>
