<div id="container-instructions" instruct_num = '2'>

      <h1>Instructions</h1>

      <hr>

      <div class="instructions well">

        <p>
          <strong>Proper nouns</strong> are <strong>not</strong> possible choices
        </p>

      </div>

      <hr>

      <style>
        #next {
            opacity: 0;
            float: right;
        }
      </style>

      <script>
          setTimeout(function() {
              $("#next").fadeTo('slow', 1.0, function(){
  							$("#next").removeAttr('disabled')
  						});
          }, 1000)
      </script>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="previous" onclick="decrement_20q_instructions()" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onclick="do_objectquiz()" disabled>
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
<div class="skipbutton">
  <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-8">
      </div>
      <div class="col-xs-2">
          <button type="button" class="btn btn-primary btn-lg continue" onclick="next_section(2)">
          Magic <span class="glyphicon glyphicon-arrow-right"></span>
          </button>
      </div>
  </div>
</div>
<script>
  if(no_skip_buttons) {
    $('.skipbutton').html('');

  }
</script>
