<div id="container-instructions" instruct_num = '2'>

      <h1>Instructions</h1>

      <hr>

      <div class="instructions well">

        <p>There is a wide variety of possible objects. It includes categories such as:</p>
        <ul>
          <li>Animals</li>
          <li>Insects</li>
          <li>Plants</li>
          <li>Food</li>
          <li>Household items</li>
          <li>Tools</li>
          <li>Clohing</li>
          <li>Modes of transportation</li>
          <li>Sports</li>
          <li>Objects</li>
          <li>Other tangible items</li>
        </ul>

        <p>However, it excludes:</p>
        <ul>
          <li>Specific people</li>
          <li>Places</li>
          <li>Ideas</li>
          <li>Thoughts</li>
        </ul>

        <p>In short, all 'things' are a possibility, and nothing else.</p>

      </div>

      <hr>

      <style>
        #next {
            opacity: 0;
        }
      </style>
      <script>
          setTimeout(function() {
              $("#next").fadeTo('slow', 1.0, function(){
  							$("#next").removeAttr('disabled')
  						});
          }, 1000)
      </script>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="previous" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onclick="progress_20q_instructs()" disabled>
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
