<div instruct_num = '2' style='margin:50px'>

      <h1>Instructions</h1>

      <hr>

      <div class="instructions well">

          <p>
            At the end of the game, you will choose one object from a table of _ random options.
            You may end the game at any time you wish, and you will then be forced to choose
            your object. The object list will look like this:

            RUN AND COPY PASTE TABLE BUT REPLACE NAMES WITH ITEM1, ITEM2, ETC

          </p>
          <style>
            th, td { padding: 5px; }
          </style>
          <table>
          </table>

          <script type="text/javascript">
          //console.log(psiTurk.getInstructionIndicator())
          </script>

      </div>

      <hr>

      <style>
        #next {
            opacity: 0;
            float: right;
        }
      </style>

      <script>
          setTimeout(function() {
              $("#next").fadeTo('slow', 1.0, function(){
  							$("#next").removeAttr('disabled')
  						});
          }, 1000)
      </script>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="previous" onclick="decrement_20q_instructions()" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onclick="progress_20q_instructs()" disabled>
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
<div class="skipbutton">
  <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-8">
      </div>
      <div class="col-xs-2">
          <button type="button" class="btn btn-primary btn-lg continue" onclick="next_section(2)">
          Magic <span class="glyphicon glyphicon-arrow-right"></span>
          </button>
      </div>
  </div>
</div>
<script>
  if(no_skip_buttons) {
    $('.skipbutton').html('');

  }
</script>
