<div id="container-instructions" instruct_num = "1">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">
		<!--
	    <p>
		    You are now entering the second phase of this HIT. The task is the same as in the previous section, except you will no longer be asked to play a complete game. Instead, you will play a series of 10 partial games: the first few questions have been answered already, and you will be asked to select just one more question. After your response, you will receive a new partial game with different questions and a different hidden object. 
	    </p>
	    -->
	    <p>
		    In this HIT, you will be presented with a series of 14 trials. In each of these trials there is a secret object, and it is your goal to guess this object. At the beginning of the trial, a series of yes or no questions and their corresponding answers will be shown to you. You are then asked to select just one more question from a list of possible questions. After your response you will be presented with a new trial, that has its own corresponding object and questions.
	    </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>

    <style>
        #next {
            opacity: 0;
            float: right;
        }
    </style>

    <script>
        setTimeout(function() {
            $("#next").fadeTo('slow', 1.0, function(){
							$("#next").removeAttr('disabled')
						});
        }, 1000)
    </script>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onclick="progress_oneshot_instructs()" disabled>
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
<div class="skipbutton">
	<div class="row">
			<div class="col-xs-2">
			</div>
			<div class="col-xs-8">
			</div>
			<div class="col-xs-2">
					<button type="button" class="btn btn-primary btn-lg continue" onclick="next_section(4)">Magic <span class="glyphicon glyphicon-arrow-right"></span>
					</button>
			</div>
	</div>
</div>
<script>
	if(no_skip_buttons) {
		$('.skipbutton').html('');

	}
</script>
