<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

	    <p>
		    In this task you will be asked to choose your favorite question from a list in a 20 questions scenario. The first thing you will do is play through the beginning of the game. Try to act like you are just playing another game of 20 questions, and you are going through what has happened so far. Although you are interfacing with a machine, these questions and answers were aggregated from human data, so play like you would against a human. You will be quizzed, so pay attention!
	    </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
