<div id="container-instructions" instruct_num = '2'>

      <h1>Instructions</h1>

      <hr>

      <div class="instructions well">

          <p>
            All answers on given on a 5 point spectrum, from Definitely Not to
            Definitely Yes. This is because there are certain questions that can
            have indefinite responses for certain objects. An uncertain response
            could be interpreted as "Unknown" or "Inapplicable", whereas a
            response leaning towards one direction but without being completely certain
            could mean something such as "Probably" or "Sometimes".
            <br><br>
            Here is an example.

            <h3>Object: EARPHONES</h3>
            <br><br>
            <h3>Question: IS IT WHITE?</h3>

            <br>
            <div style="margin-left:-109px"><img src="/static/images/slider_u.png"  alt="Unknown/Not applicable" width=650></div>
            Earphones could or could not be white, so the response would be in the middle.
            <hr>

            <h3>Question: IS IT CLOTHING?</h3>
            <br>
            <div style="margin-left:-109px"><img src="/static/images/slider_pn.png"  alt="Unknown/Not applicable" width=650></div>
            It is somewhat ambiguous whether or not earphones are cloting.
            <hr>

            <h3>Question: IS IT ALIVE?</h3>

            <br>
            <div style="margin-left:-109px"><img src="/static/images/slider_n.png"  alt="Unknown/Not applicable" width=650></div>
            Earphones are definitely not alive, so the response is definitely not.
            <hr>

            The responses for everything in our dataset was collected from people like this, on these scales.
            Be aware that it’s possible some entried are a mistake, or that it differs with your intuition.
            <br><br>
            You will now proceed to the task. You will play exactly __ games. Good luck!
          </p>

          <script type="text/javascript">
          //console.log(psiTurk.getInstructionIndicator())
          </script>

      </div>

      <hr>

      <style>
        #next {
            opacity: 0;
            float: right;
        }
      </style>

      <script>
          setTimeout(function() {
              $("#next").fadeTo('slow', 1.0, function(){
  							$("#next").removeAttr('disabled')
  						});
          }, 1000)
      </script>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="previous" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onclick="progress_20q_instructs()" disabled>
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
<div class="skipbutton">
  <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-8">
      </div>
      <div class="col-xs-2">
          <button type="button" class="btn btn-primary btn-lg continue" onclick="next_section(2)">
          Next <span class="glyphicon glyphicon-arrow-right"></span>
          </button>
      </div>
  </div>
</div>
<script>
  if(no_skip_buttons) {
    $('.skipbutton').html('');

  }
</script>
