<div id="container-instructions" instruct_num = "1">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

	    <p>
		    In this task you will be asked to play a much more fleshed out and involved
				game. It will involve you asking a series of questions, and getting responses
				from the computer. You will use these responses to try and figure out what
				item the computer is thinking of. At any point you may guess what the item is,
				but after 25 questions you will be moved on to the next game.
	    </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>

    <style>
        #next {
            opacity: 0;
            float: right;
        }
    </style>

    <script>
        setTimeout(function() {
            $("#next").fadeTo('slow', 1.0, function(){
							$("#next").removeAttr('disabled')
						});
        }, 1000)
    </script>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onclick="progress_20q_instructs()" disabled>
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
<div class="skipbutton">
	<div class="row">
			<div class="col-xs-2">
			</div>
			<div class="col-xs-8">
			</div>
			<div class="col-xs-2">
					<button type="button" class="btn btn-primary btn-lg continue" onclick="next_section(2)">
					Next <span class="glyphicon glyphicon-arrow-right"></span>
					</button>
			</div>
	</div>
</div>
<script>
	if(no_skip_buttons) {
		$('.skipbutton').html('');

	}
</script>
