<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
            At each junction there will be a series of possible questions, but you also have a choice.
            You get one chance to guess an object, and you have to decide when to stop asking your questions
            and guess your object.
            <!--
            There are 10 possible objects. Try to remember them, as you will not be shown them again!
            <ul>
                <li>Dress</li>
                <li>Dress</li>
                <li>Computer</li>
                <li>Ant</li>
                <li>Train</li>
                <li>Car</li>
                <li>Dog</li>
                <li>Bear</li>
                <li>Lettuce</li>
                <li>Tomato</li>
            </ul>
            -->
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <style>
        #next {
            opacity: 0;
        }
    </style>
    <script>
        setTimeout(function() {
            $("#next").fadeTo('slow', 1.0, function(){
							$("#next").removeAttr('disabled')
						});
        }, 1000)
    </script>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="previous" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled>
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
